* {
    margin: 0;
    padding: 0;
}

:root {
    --color-header-bg: #24292e;
}

html {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-size: 1.75rem;
}

li {
    margin-bottom: 7px;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.header {
    background-color: var(--color-header-bg);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ffffff;
    padding: 20px 0;
}

.social-link {
    margin-right: 10px;
}

.lists {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: baseline;
}

.block {
    max-width: 460px;
}

.section-title {
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 30px;
}

.unstyled-list {
    padding-left: 15px;
}

@media(max-width: 1400px) {
    .container {
        max-width: 960px;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 740px;
    }

    .block {
        max-width: 100%;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 560px;
    }
}

@media(max-width: 578px) {
    .container {
        width: 90%;
    }
}
